-
	const attrButtonGroup = {
		"class": "btn-group"
	}
	const attrDelete = {
		"class": "delete-image close mr-2",
		"type": "button",
		"aria-label": "Delete Image"
	}
	const attrDeleteIcon = {
		"aria-hidden": "true"
	}

div&attributes( attrButtonGroup )
	button&attributes( attrDelete )
		span&attributes( attrDeleteIcon ) &times;

	a.button= image

	//- const clsPrivate = [ 'is-private-checkbox', 'slide-switch-checkbox']
	//- const clsSwitchLbl = [ 'slide-switch-label', 'm-0', 'p-0' ]
	//div
	//	input(class=clsPrivate type="checkbox" id=`is-private-${uniqueID}` checked=isPrivate)
	//	label(class=clsSwitchLbl for=`is-private-${uniqueID}`)
	//		div.slide-switch
	//		br
	//		div= isPrivate ? 'Private' : 'Public'
