- const clsShow = [ 'btn', 'btn-primary' ]
- const clsNext = [ 'btn', 'btn-primary', 'ml-2' ]
- const clsPairHeader = [ 'card-header', 'bg-primary', 'text-light', 'text-monospace' ]
- const clsCardBody = [ 'card-body', 'bg-light', 'p-2' ]

.mb-3
	button.show-images(class=clsShow disabled = answerShown )
		| Show Images

	button.next(class=clsNext disabled = !answerShown )
		| Next

.card
	h2#pair(class=clsPairHeader)
		| Letter Pair: #{ letterPair.toUpperCase() }

	div(class=clsCardBody class={ hidden: !answerShown } )
		#images
