-
	const attrSearchContainer = { 'class': 'input-group mb-3'}
	const attrInput = {
		'class': 'form-control',
		'type': 'text',
		'placeholder': 'Letter Pair',
		'maxlength': 2
	}
	const attrSearchBtn = { 'class' : 'btn btn-primary' }
	const attrGridContainer = { 'class': 'd-none d-md-block clearfix' }

	const attrModalContainer = {
		'class': 'modal',
		'tabindex': -1,
		'role': 'dialog',
		//'aria-labelledby': 'pair',
		'aria-hidden': 'true'
	}
	const attrPairHeading = { 'class': 'text-light text-monospace text-uppercase' }
	const attrDeleteBtn = {
		'class': 'close btn-dark',
		'type': "button",
		'data-dismiss': 'modal',
		'aria-label' : 'Delete'
	};
	const attrAddNew = { 'class': 'btn btn-primary' }
	const attrCloseResults = {
		'class': 'btn btn-primary',
		'type': 'button',
		'data-dismiss': 'modal'
	}

#text-search&attributes( attrSearchContainer )
	input#text-input&attributes( attrInput )
	.input-group-append
		button#search-button&attributes( attrSearchBtn ) Search

//- Currently hidden below medium width (768px)
#grid-search&attributes( attrGridContainer )
	.letter-grid#first-letter
		include letter-grid

	.letter-grid#second-letter
		include letter-grid

#image-results-container&attributes( attrModalContainer )('aria-labelledby'='pair')
	.modal-dialog( role="document" )
		.modal-content
			.modal-header.bg-primary
				if letterPair
					h5#pair&attributes( attrPairHeading )= `Letter Pair: ${letterPair}`

				button&attributes( attrDeleteBtn )
					span( aria-hidden="true" ) &times

			.modal-body.p-1
				#images-collection-region

			.modal-footer
				button.open-add-new&attributes( attrAddNew ) Add New
				button.close-results&attributes( attrCloseResults ) Close

#add-new-container&attributes( attrModalContainer )('aria-labelledby'='pair-new')
	.modal-dialog( role="document" )
		.modal-content
			.modal-header.bg-primary
				if letterPair
					h5#pair-new&attributes( attrPairHeading )= `New image for ${letterPair}`

				button&attributes( attrDeleteBtn )
					span( aria-hidden="true" ) &times

			.modal-body
				#add-new-view-region

			.modal-footer
				button.add-new-image&attributes( attrAddNew ) Add
				button.cancel-add-new&attributes( attrCloseResults ) Cancel
