.lg-row.u-face
	.lg-cell A
	.lg-cell B
	.lg-cell C
	.lg-cell D
.lg-row.l-face
	.lg-cell E
	.lg-cell F
	.lg-cell G
	.lg-cell H
.lg-row.f-face
	.lg-cell I
	.lg-cell J
	.lg-cell K
	.lg-cell L
.lg-row.r-face
	.lg-cell M
	.lg-cell N
	.lg-cell O
	.lg-cell P
.lg-row.b-face
	.lg-cell Q
	.lg-cell R
	.lg-cell S
	.lg-cell T
.lg-row.d-face
	.lg-cell U
	.lg-cell V
	.lg-cell W
	.lg-cell X
