.letter-grid {
	float: left;
	width: 13rem;
	font-size: 2.5rem;
	margin-right: 2rem;

	.lg-cell {
		float: left;
		width: 23%;
		text-align: center;
		border-radius: .35rem;
		border: .1rem outset #aaa;
		cursor: pointer;
	}
	.lg-cell.selected {
		background-color: #aaa;
	}
	.lg-cell:hover {
		background-color: #aaa;
	}
}

.u-face .lg-cell {
	background-color: yellow;
}

.l-face .lg-cell {
	background-color: red;
}

.f-face .lg-cell {
	background-color: green;
}

.r-face .lg-cell {
	background-color: orange;
}

.b-face .lg-cell {
	background-color: #0058ff;
}

.d-face .lg-cell {
	background-color: white;
}
