doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

		link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css")
		link(rel='stylesheet', href='https://bootswatch.com/4/flatly/bootstrap.min.css')
		link(rel='stylesheet' href='/styles/site.css')
	body
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		include partials/mv-scripts
		script(
		defer src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"
		integrity="sha384-4oV5EgaV02iISL2ban6c/RmotsABqE4yZxZLcYMAdG7FAPsyHYAPpywE9PJo+Khy"
		crossorigin="anonymous"
		)
		include partials/bootstrap-scripts
		script(src="scripts/app.min.js")
