<nav class="navbar navbar-expand navbar-dark bg-primary">
	<ul class="navbar-nav mr-auto">
		<li class="nav-item">
			<a class="nav-link" href="/">Home</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/">Flashcards</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/">Search for images</a>
		</li>
	</ul>
</nav>
